.List {
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

.List-W-Profile {
    height: 100%;
    width: 30%;
}

.List-Form {
    display: flex;
    height: 10%;
    width: 100%;
}

.List-Dropdown {
    margin: 20px auto;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
}

.List-SearchBox {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    width: 60%;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(167, 167, 167);
}

.List-SearchData {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}